canvas {
  position: absolute;
}

.audioWrapper {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
}

audio {
  opacity: 0.5;
  transition: opacity 250ms ease;
  max-width: 25rem;
  width: 100%;
}

audio:hover {
  opacity: 1;
}

.logoWrapper {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.logo {
  position: absolute;
  height: calc(min(100dvw, 100dvh) / 3.5);
  width: calc(min(100dvw, 100dvh) / 3.5);
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.noiseFilter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 7rem;
  background-repeat: repeat;
  background-image: url("noise-filter.png");
  opacity: 0.06;
  pointer-events: none;
}

@media (max-width: 768px) {
  .audioWrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
}
