canvas {
  position: absolute;
}

.audio-wrapper {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

audio {
  opacity: 0.5;
  transition: opacity 250ms ease;
  width: min(25rem, 90vw);
}

audio:hover {
  opacity: 1;
}

.logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.logo {
  position: absolute;
  height: calc(min(100vw, 100vh) / 3.5);
  width: calc(min(100vw, 100vh) / 3.5);
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .audio-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
}
