.uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.track-info {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  opacity: 0.5;
}

span {
  font-size: 1rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

input {
  display: none;
}

label {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
  padding: 0 1rem;
  border: none;
  height: 2.25rem;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  opacity: 0.5;
}

label:hover {
  opacity: 1;
}

label > i {
  display: none !important;
}

#file-chosen {
  display: none;
}

@media (max-width: 768px) {
  .uploader {
    gap: 0.5rem;
  }
}
