:root {
  --foreground: #fff;
  --background: rgb(15, 17, 21);
  --foreground-secondary: #888;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}