:root {
  --foreground: hsl(0 0% 100%);
  --background: hsl(0 0% 0%);
  --foreground-secondary: hsl(0 0% 50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
